.rgba {
  --rgb-black: rgba(20, 20, 20);
  --rgb-white: rgba(242, 242, 242);
  --rgb-gray: rgba(124, 124, 124);
  --rgb-red: rgba(255, 0, 0);
  --rgb-blue: rgba(0, 0, 255);
  --rgb-green: rgba(0, 255, 0);
  --rgb-purple: rgba(255, 0, 255);   
}
.alt{
  --alt-purple: rgba(100, 108, 255);
  --alt-green: rgba(68, 253, 68, 0.9);
  --alt-red: rgba(255, 65, 75, 0.95);
}
.alphas {
  --alt-purple-300: rgba(100, 108, 255, 0.667);
  --ice-blue-300: rgba(97, 218, 251, 0.667);
}
.btn--colors {
  --btn-default:  var(--rgb-white);
  --btn-primary: var(--alt-green);
  --btn-secondary: var(--alt-red);
  --btn-border-hover: var(--alt-purple);  
}

.color-vars {
    composes: rgba, alt, alphas, btn--colors;
    --link-color: var(--alt-purple);

}
  