.filter-vars {
    composes: colors;
    --filter-ds-light: drop-shadow(0 0 2em var(--ice-blue-300));
    --filter-ds-dark: drop-shadow(0 0 2em var(--alt-purple-300));
  }
.shadow-vars {
  --shadow-basic: rgba(50, 50, 50, 0.2) 0 5px 5px 0;
}  

.effects-vars {
  composes: filter-vars shadows-vars;
}
