@import '../lib/variables.css';

.logo {
    --logo-pad: 1.5em; 
    --logo-key: logo-spin;
    --logo-transition: filter 300ms;
    --logo-anim-slow: var(--logo-key) infinite var(--slow-anim-speed) linear;
    --logo-height: 6em;   
    height: var(--logo-height);
    padding: var(--logo-pad);
    transition: var(--logo-transition);    
    will-change: filter;
  }
  .logo:hover {
    filter: var(--filter-ds-dark);
  }
  .logo.react:hover {
    filter:var(--filter-ds-light);;
  }
  
  @keyframes logo-spin {
    from {
      transform: var(--spin-start);
    }
    to {
      transform: var(--spin-stop);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  