.base {
  overflow: hidden;
  margin: 0;
  padding: 0;
  
}

.row-base {
  composes: base;
  display: flex;
  flex-direction: row;
}

.col-base {
  composes: base;
  display: flex;
  flex-direction: column;
}

.container-base {
  composes: base;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-base {
  composes: base;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
