:root {

}

:root {
  --bg-dark: rgb(0, 0, 0);
  --fg-dark: rgb(255, 255, 255);
  --link-hover-dark: rgb(83, 91, 242);

  --bg-light: rgb(255, 255, 255);
  --fg-light: rgb(0, 0, 0);
  --link-hover-light: rgb(116, 123, 255);
  --bg-default: var(--bg-dark);
  --fg-default: var(--fg-dark);  
  --link-hover: var(--link-hover-dark);
}
:root {  
  --colorschems: dark, light;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: var(--colorschemes);
  color: var(--fg-default);
  background-color: var(--bg-default) ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  color: var(--link-hover);
}

body {
  --min-w: 320px;
  --min-h: 100vh;
  margin: 0;
  display: flex;
  min-width: var(--min-w);
  min-height: var(--min-h);
  overflow-x: none;
  overflow-y: scroll;
}

h1 {
  --fs: 3.2em;
  --line-height: 1.1;
  font-size: var(--fs);
  line-height: var(--line-height);
}

button {
  --btn-border-hover: rgb(100, 108, 255);
  --btn-bg: var(--fg-default);
  --btn-font: inherit;
  --btn-cursor: pointer;
  --btn-radius: 8px;
  --btn-border: 1px solid transparent;
  --btn-pad: 0.6em 1.2em;
  --btn-fs: 1.1em;
  --btn-fw: 500;
  --btn-transition-speed: 0.25s;
  --btn-transition: border-color var(--btn-transition-speed);
  border-radius: var(--btn-radius);
  border: var(--btn-border);
  padding: var(--btn-pad);
  font-size: var(--btn-fs);
  font-weight: var(--btn-weight);
  font-family: var(--btn-font);
  background-color: var(--btn-bg);
  cursor: var(--btn-cursor);
  transition: var(--btn-transition);  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } 
  button:hover {
     border-color: var(--btn-border-hover);
  };
}



@media (prefers-color-scheme: light) {
  :root {
    --bg-default: var(--bg-light);
    --fg-default: var(--fg-light);
  }
  a:hover {
    color: var(--link-hover-light);
  }

}
