.base { padding: 0; margin: 0; };

.col { display: flex; flex-direction: column; };
.row { display: flex; flex-direction: row;    };

.center { max-width: fit-content; margin-inline: auto; };

.opaque { opacity: 0.8 };


/** Hides but takes up space **/
.invisible { visibility: hidden; }
/** Removes from layout **/
.hide {  display: none; };